* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(219, 219, 219);
}

.right-Side{
  color: #fff;
  justify-content: right;
  margin: auto;
  width: 48%;
  background-color: #333;
  opacity: 0.7; 
  min-height: 280px;
  border-radius: 5px;
  padding: 10px;
}

.left-Side{
  color: #fff;
  width: 48%;
  margin: auto;
  padding: 10px;
  background-color: #333;
  opacity: 0.7; 
  min-height: 280px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.main p{
  margin: 15px;
  background-color: rgb(31, 30, 30);
  padding: 6px;
  border-radius: 15px;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #555;
  color: #fff;
  height: 70px;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.main{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  width: 520px;
  background-color: #333;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
}

.card img {
  margin-right: 20px;
  width: 100px;
}

.card .id {
  font-size: 25px;
  margin: 0;
}
.card .information{
  margin: 15px;
}

.card button{
  margin: 5px 15px;
  width: 70px;
  height: 25px;
  border-style: none;
  border-radius: 15px;
  background-color:rgb(179, 179, 179);
}

.left-Side button{
  margin: 6px;
  width: 60px;
  height: 25px;
  border-style: none;
  border-radius: 15px;
  background-color: rgb(179, 179, 179);
}

.card button:hover{
 cursor: pointer;
  background-color:rgb(207, 206, 206);
}

.left-Side button:hover{
  cursor: pointer;
  background-color:rgb(136, 136, 136);
  color:rgb(71, 71, 71)
}

.right-Side p{
  font-size: 1rem;
}

.right-Side .upICMoney{
  margin: 6px;
  width: 60px;
  height: 25px;
  border-style: none;
  border-radius: 15px;
  background-color: rgb(179, 179, 179); 
}

.right-Side .upICMoney:hover{
  cursor: pointer;
  background-color:rgb(136, 136, 136);
  color:rgb(71, 71, 71)
}

.GrassTank{
  color: #fff;
  justify-content: right;
  text-align: center;
  width: 42%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #333;
  opacity: 0.7; 
  min-height: 200px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.MilkTank{
  color: #fff;
  text-align: center;
  width: 42%;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  background-color: #333;
  opacity: 0.7; 
  min-height: 200px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.progressbar{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 35px;
	border-radius: 5px;
	background-color: #eee;
}

.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #eee;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.GrassTank button{
  margin: 5px 15px;
  width: 70px;
  height: 25px;
  border-style: none;
  border-radius: 15px;
  background-color:rgb(179, 179, 179);
}

.MilkTank button{
  margin: 5px 15px;
  width: 70px;
  height: 25px;
  border-style: none;
  border-radius: 15px;
  background-color:rgb(179, 179, 179);
}

.GrassTank button:hover{
  cursor: pointer;
  background-color:rgb(207, 206, 206);
}

.MilkTank button:hover{
  cursor: pointer;
  background-color:rgb(207, 206, 206);
}